<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>

<%= render @restaurant %>
<%= render "review_form", review: @review%>
<%= render "reviews", reviews: @reviews %>
